body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("res/bg.jpg");
    background-size: 1900px 360px;
    background-repeat: no-repeat;
}

/* #bgImg {
    background-image: url("res/background.jpg");
    background-size: cover;
    background-position: left;
    z-index: -1;

} */

h1 {
    color: white;
    margin: 0;
}

input[type=button] {
    border: none;
    padding: 0;
    background: none;
    color: #f7eeee;
    font-size: 20pt;
}

label {
    color: black;
    font-size: 16pt;
}

ul {
    list-style: none;
    text-align: left;
    display: inline-block;
    padding: 0;
}

li {
    /* max-width: 10px; */
    /* word-break: break-all; */
    overflow-wrap: break-word;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    /* margin: 20px; */
}

input[type=checkbox] {
    visibility: hidden;
}


input[type=checkbox]:checked+label {
    text-decoration-line: line-through;
    text-decoration-color: grey;
    text-decoration-thickness: 2px;
    color: grey;
}

#addTask {
    text-align: center;
    margin: auto;
    padding-top: 200px;
}

#addTask, input[type=text] {
    text-align: center;
    font-size: large;
    height: 30px;
    padding-top: 5px;
    border-radius: 10px;

}

#taskBox {
    /* text-align: center; */
    border: 1px;
    border-style: solid;
    border-color: lightgray;
    background-color: white;
    border-radius: 10px;
    width: 25%;
    margin: auto 35%;
    box-shadow: 2px 2px whitesmoke;
 }

#taskBox label {
    position: relative;
    /* left: 35%; */
    text-align: left;
    /* padding-top: 15px; */
    /* padding-left: 15px; */
    /* overflow-wrap: break-word; */
}

#taskBox label::before{
    background-color: white;
    width: 20px;
    height: 20px;
    shape-outside: circle();
    clip-path: circle();
    /* padding-right: 15px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* padding: 5px; */
    /* shape-margin: 5px; */
    content: "";
    border: 1px solid #6f1db3;
    /* border-radius: 50%; */
    display: inline-block;
    position: relative;
    z-index: 5;
}

#taskBox label::after {
    background-color: #6f1db3;
    width: 22px;
    height: 22px;
    shape-outside: circle();
    clip-path: circle();
    /* padding-left: 15px; */
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 10;
}

input[type=checkbox]+label::after {
    content: none;
}

input[type=checkbox]:checked+label::after {
    content: "";
}

.removeButton {
    position: absolute;
    right: 41%;
}

.removeButton>button {
    border: none;
    background: none;
    padding: 0;
    font-size: larger;
}

/* #removeButton {
    position: absolute;
    right: 39%;
}

#removeButton>button {
    border: none;
    background: none;
    padding: 0;
    font-size: larger;
} */

