body {
    background-image: url("res/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    
    color: white;
    
}

input[type=button] {
    
    border: none;
    padding: 0;
    background: none;
    color: #f7eeee;
    font-size: 20pt;
}

label {
    color: #f7eeee;
}

ul {
    list-style: none;
    text-align: justify;
    display: inline-block;
}

input[type=checkbox]:checked+label {
    text-decoration-line: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 4px;
    color: grey;
}


/* #addTask, textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    text-align: center;
    font-size: large;
    height: 25px;
    padding-top: 5px;
} */

#addTask, input[type=text] {
    /* font-family: Arial, Helvetica, sans-serif; */
    resize: none;
    text-align: center;
    font-size: large;
    height: 25px;
    padding-top: 5px;

}

#tasks {
    text-align: center;
}